
    <div class="main">
        
    </div>
    <div class="main-content">
        <div class="main-text">
            Koedy<br />
        </div>
        <div class="top-button">
            <%= link_to "Find your pet â˜", search_posts_path, class:"find-pet" %>
        </div>
    </div>
    