
    <div class="main">
        
    </div>
    <div class="main-content">
        <div class="main-text">
            Koedy<br />
        </div>
        <div class="top-button">
            <%= link_to "Find your pet ☞", search_posts_path, class:"find-pet" %>
        </div>
    </div>
    <div class="about">
        <div class="about-header">
            ABOUT
        </div>
    </div>

    <div class="how-to-use">
        <div class="how-to-use-header">
            HOW TO USE
        </div>
        <div class="how-to-use-first">
            <div class="how-to-use-first-image">
                <%= image_tag 'top.gif', width: '100%', height: '100%'%>
            </div>

            <div class="how-to-use-first-content">
                <h2>1.検索ページへ</h2>
            </div>
        </div>

        <div class="how-to-use-second">
            <div class="how-to-use-first-content">
                <h2>2.条件を選択して検索</h2>
            </div>

            <div class="how-to-use-first-image">
                <%= image_tag 'top.gif', width: '100%', height: '100%'%>
            </div>
        </div>
    </div>
    